<head>
<style>
.page__footer-contact { 
  float: left;
  width: 50%;
  font-size: .6875em; 
}
 
.page__footer-left {
  width: 50%;
  float: left;
  font-size: .6875em; 
}
 
 
</style>
</head>

<div>
    <div class="page__footer-left">
      <p>
        Mon: 8-2 <br/>
        Tues, Wed, Thurs: 8-6 <br/>
        Fri: 8-8 <br/>
        Sat: 8-6 <br/>
        Sun: Closed <br/>
      </p>
    </div>

    <div class="page__footer-contact">
      <p>
        {{ site.title }} <br/>
        {{ site.street }} <br/>
        {{ site.city_state_zip }} <br/>
        {{ site.phone }} <br/>
        <a href="mailto:{{ site.email }}">{{site.email}}</a>
        
      </p>
    </div>
</div>


<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.facebook.username %}
      <li><a href="https://facebook.com/{{ site.facebook.username }}"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
    {% endif %}

    {% if site.instagram.username %}
        <li>
          <a href="https://instagram.com/{{ site.instagram.username }}" itemprop="sameAs">
            <i class="fa fa-fw fa-instagram" aria-hidden="true"></i> Instagram
          </a>
        </li>
    {% endif %}
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.  
</div>
